/* Header styling */
.Header {
  font-size: 30px;
  font-weight: bold;
  color: #212221;
  text-align: center;
  font-family: 'Arial', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  background-color: rgb(147, 144, 143); /* Background color for the header */
  width: 100%; /* Ensure the header spans the full width */
  padding: 3px 0; /* Padding for top and bottom */
}

/* Navbar styling */
.navBar {
  width: 100%; /* Full width of the navbar */
  background-color: black; /* Full-width black background */
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}

/* Navbar item styling */
.navBar th {
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  list-style: none;
  padding: 10px 30px;
}

/* Navbar link styling */
.navBar th a {
  text-decoration: none;
  color: white;
}

/* Hover effect for navbar items */
.navBar th:hover {
  background-color: #3c413c;
}
