.outerDiv
{
    background-color: #3a3c3e;
    align-content: space-around;
    height: fit-content;
    color: #fff;
    margin: auto;
    padding: 10px;
    position: absolute;
    margin-left: 250px;;

}
.leftDiv
{
    background-color: #efefef;
    color: #000;
    width: 48%;
    float: left;
}
.rightDiv
{
    background-color: #efefef;
    color: #000;
    width: 48%;
    float: right;
}
.profile{
    width: 75%;
}
.footer{
    margin-top: 770px;
}